html, body, canvas {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

#crosshair {
    position: fixed;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    width: 8px;
    height: 8px;
    border-radius: 4px;
    backdrop-filter: invert(1);
    background: transparent;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 100deg;
    inherits: false;
}

@keyframes rotate {
    0% {
        --angle: 0deg;
    }
    100% {
        --angle: 360deg;
    }
}

body {
    display: grid;
    font: 1rem Arial, sans-serif;
    user-select: none;
    
    color: white;
    
    /* animation: rotate 4s linear forwards infinite; */

    --angle: 135deg;
    --background-color-a: #424242;
    --background-color-b: #1b1b1b;

    background:
        linear-gradient(var(--angle),
            var(--background-color-a) 25%, var(--background-color-b) 25%,
            var(--background-color-b) 50%, var(--background-color-a) 50%,
            var(--background-color-a) 75%, var(--background-color-b) 75%
        )
    ;
    background-size: 1rem calc(1rem / tan(var(--angle) - 90deg));
    /* background-position: 50% 50%; */
    background-size: 1rem 1rem;
    
    --outline: 1px;
    text-shadow:
        var(--outline)              var(--outline)              var(--outline)  #000,
        calc(-1 * var(--outline))   var(--outline)              var(--outline)  #000,
        var(--outline)              calc(-1 * var(--outline))   var(--outline)  #000,
        calc(-1 * var(--outline))   calc(-1 * var(--outline))   var(--outline)  #000;
}

#ui, #game {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
}

#ui {
    display: grid;
    overflow: hidden;
}

#ui:not(:has(.modal.visible)) {
    pointer-events: none;
    display: none;
}

#game:focus-visible {
    outline: none;
    border: none;
}

#game.hidden {
    display: none;
}

#debug-logs {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    font-size: 10px;

    padding: 0.5rem;
    font-weight: bold;

    pointer-events: none;
    overflow-y: auto;

    display: flex;
    flex-direction: column;

    & > pre {
        display: block;
        margin: 0;
    }
}

.modal[data-name="game-select"] {
    text-align: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#select-world {
    ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 0.5rem;
        text-align: left;

        li {
            display: flex;
            flex-direction: row;
            align-items: center;

            .name {
                display: inline-block;
                width: 10rem;
                word-wrap: break-word;
                white-space: wrap;
                text-wrap: wrap;
            }
            time {
                display: inline-block;
                width: 8rem;
            }
        }
    }
}

.modal[data-name="create-world"] {
    text-align: center;
}

.modal {
    &:not(.visible) {
        display: none;
    }
    &.centered {
        align-self: center;
        justify-self: center;
    }
    grid-area: 1 / 1 / 2 / 2;
}

#game-ui {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;

    pointer-events: none;

    div {
        pointer-events: none;
    }
    :not(div) {
        pointer-events: all;
    }
    
    & > * {
        grid-area: 1 / 1 / 2 / 2;
        align-self: center;
        justify-self: center;
    }
}