html, body, #game-canvas {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

[hidden] {
    display: none;
    visibility: hidden;
    * { display: none; }
}

#game-canvas {
    image-rendering: pixelated;
}

#controller {
    position: fixed;
    width: 100%;
    height: 100%;
}

#crosshair {
    z-index: 1;
    position: fixed;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    width: 8px;
    height: 8px;
    border-radius: 4px;
    backdrop-filter: invert(1);
    background: transparent;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 100deg;
    inherits: false;
}

@keyframes rotate {
    0% {
        --angle: 0deg;
    }
    100% {
        --angle: 360deg;
    }
}

body {
    display: grid;
    font: 1rem Arial, sans-serif;
    user-select: none;
    
    color: white;
    
    /* animation: rotate 4s linear forwards infinite; */

    --angle: 135deg;
    --background-color-a: #272727;
    --background-color-b: #1b1b1b;

    background:
        linear-gradient(var(--angle),
            var(--background-color-a) 25%, var(--background-color-b) 25%,
            var(--background-color-b) 50%, var(--background-color-a) 50%,
            var(--background-color-a) 75%, var(--background-color-b) 75%
        )
    ;
    background-size: 1rem calc(1rem / tan(var(--angle) - 90deg));
    /* background-position: 50% 50%; */
    background-size: 1rem 1rem;
    
    --outline: 1px;
    text-shadow:
        var(--outline)              var(--outline)              var(--outline)  #000,
        calc(-1 * var(--outline))   var(--outline)              var(--outline)  #000,
        var(--outline)              calc(-1 * var(--outline))   var(--outline)  #000,
        calc(-1 * var(--outline))   calc(-1 * var(--outline))   var(--outline)  #000;
}

@keyframes fade-in {
    0% {
        opacity: 0;

        filter: blur(100px) contrast(10) brightness(1);
        backdrop-filter: brightness(1);
    }
    20% {
        opacity: 1;
        backdrop-filter: brightness(0);
    }
    100% {
        opacity: 1;

        filter: blur(4px) contrast(1) brightness(0.5);
        backdrop-filter: brightness(0);
    }
}

@keyframes zoom-out {
    0% {
        transform: scale(2);
    }
    100% {
        transform: scale(1.01);
    }
}
#title-background {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        animation:
            fade-in 5s cubic-bezier(0.1, 0.9, 0.1, 0.9) forwards,
            zoom-out 120s ease-out forwards
        ;
    }
}

#ui, #game {
    z-index: 1;
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
}

#ui {
    display: grid;
    overflow: hidden;
}

#ui:not(:has(.modal.visible)) {
    pointer-events: none;
    display: none;
}

#game {
    background: #ff00ff;
}

#game:focus-visible {
    outline: none;
    border: none;
}

#game:not(.visible) {
    display: none;
}

#perf-meters {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 10px;

    font-family: monospace;

    display: flex;
    flex-direction: row;
    gap: 1ch;
}

#debug-logs {
    position: fixed;
    top: 10px;
    width: 50%;
    height: 100%;
    font-size: 10px;

    font-weight: bold;

    pointer-events: none;
    overflow-y: auto;

    display: flex;
    flex-direction: column;

    & > pre {
        display: block;
        margin: 0;
    }


    display: none;
}

#title-screen {
    text-align: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#select-server {
    ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 0.5rem;
        text-align: left;

        li {
            display: flex;
            flex-direction: row;
            align-items: center;

            .name {
                display: inline-block;
                width: 10rem;
                word-wrap: break-word;
                white-space: wrap;
                text-wrap: wrap;
            }
            time {
                display: inline-block;
                width: 8rem;
            }
        }
    }
}

.modal[data-name="create-server"] {
    text-align: center;
}

.modal {
    &:not(.visible) {
        display: none !important;
    }
    &.centered {
        align-self: center;
        justify-self: center;
    }
    grid-area: 1 / 1 / 2 / 2;
}

#game-ui {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;

    pointer-events: none;

    * {
        pointer-events: all;
    }
    & > div {
        pointer-events: none;
    }
    
    & > * {
        grid-area: 1 / 1 / 2 / 2;
        align-self: center;
        justify-self: center;
    }
}

#settings, .modal[data-name="create-server"] {
    z-index: 2;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0008;
    backdrop-filter: blur(2px);

    display: none;
    &:has(>:not([hidden])) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#plugin-list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;

    li {
        display: grid;
        grid-template-columns: max-content 1fr;
    }
}